.wrapper{
    padding: 5%;
    display: flex;
    align-self: center;
    
    flex-direction: column;
    flex: 1;
    height: 100%;
    
}

.content{
    
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
}

.question{
    display: flex;
    align-self: center;
    flex: 1;
}

.buttons{
    flex: 1;
    
}