.App {
  flex-direction: column;
  height: 100vh;
  display: flex;
  background-color: #c4c460;
}

.buttons{
  display: flex;
  flex-direction: row;
  flex: 1;
}

button{
  display: flex;
  flex: 1;
}

.main-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  flex: 5;
}
